@import url('https://fonts.googleapis.com/css?family=Muli');
body{
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    background-color: #d1eeff;
}
.form{
    border: 1px solid #ccc; 
    padding: 5px; 
    margin: 20px 10px;
}
.formStep{
    margin: auto;
    width: 600px;
}
.field{
    padding: 10px 5px;
}
.btn{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 5px;
}
textarea{
    vertical-align: middle;
}
label{
    margin-right: 15px;
}
legend{
    font-weight: bold;
}
.framework{
    cursor: pointer;
}
input[type="radio"]{
    cursor: pointer;
}
.fixed{
    position: fixed;
    top: 30px;
    right: 10px;
}
select, input{
    border: 1px solid #ccc;
    padding: 5px 10px;
}
select{
    cursor: pointer;
}
.buttons{
    text-align: right;
}